!*.c
!*.h
!*.cc
!*.hh
!*.am
!*.in
# using am and in file 
Makefile

*.[ao]
*.Po

#/dpi
*.dpi

#/dpid
/dpid/dpid
/dpid/dpidc
/dpid/dpidrc

#/src
dillo

#doc
doc/dillo.1

#/test 
/test/*
!/test/*.*
*.[ao]
*.Po

#/
/config.status
/stamp-h1
/config.log
/config.status
/config.h
